<html>
<head>
    <title>{% block title %}Cotação{% endblock %}</title>
</head>
<body>
<h2>Cotação: {{ quote.name }}</h2>
<form action="#">
{% for quoteProduct in quoteProducts %}
    <h4>Produto</h4>
    <div>
        Nome: {{ quoteProduct.product.name }}
    </div>
    <div>
        Marca: {{ quoteProduct.product.brand }}
    </div>
    <div>
        Descrição: {{ quoteProduct.product.fullDescription }}
    </div>
    <div>
        Quantidade: {{ quoteProduct.product.quantity }}
    </div>
    <div>
        Unidade: {{ quoteProduct.product.unit }}
    </div>

    {% for quoteSupplier in quoteProduct.quoteSuppliers if quoteSupplier.representative.id == representative.id %}
            <div>
                Preço do Produto: <input type="text" value="{{ quoteSupplier.price }}" />
            </div>
            <div>
                Quantidade do Produto: <input type="text" value="{{ quoteSupplier.quantity }}" />
            </div>
    {% else %}
        <div>
            Preço do Produto: <input type="text" />
        </div>
        <div>
            Quantidade do Produto: <input type="text" />
        </div>
    {% endfor %}
{% endfor %}
    <button type="submit">Salvar</button>
</form>
</body>
</html>