<div class="tab-pane" id="tab1">
    <div class="portlet-body form">
        <!-- BEGIN COTACAO FORM-->
        <form action="#" method="POST" id="cotacao_form" class="form-horizontal contact-form">
            <div class="form-body ">
                <div class="row ">
                    <div class="col-lg-4 col-lg-offset-5">
                        <div class="">
                            <div class="form-group cotacao text ">
                                <label for="cotacao">Nome da Cotação*</label>
                                <input class="form-control"  name="name" type="text" id="cotacao"
                                    value="{{ quote is defined?quote.name:'' }}" autocomplete="off" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4 col-lg-offset-5">
                        <div class="">
                            <div class="form-group datetimepicker1 text ">
                                <label for="datetimepicker1">Validade de</label>
                                <input class="form-control " type="text" autocomplete="off" id="beginsAtTimePicker"
                                    value="{{ quote is defined?quote.beginsAt|date('d/m/Y H:i'):"now"|date('d/m/Y H:i') }}"
                                    name="begins-at" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4 col-lg-offset-5">
                        <div class="">
                            <div class="form-group datetimepicker2 text ">
                                <label for="datetimepicker2">Validade Até</label>
                                <input class="form-control " type="text" autocomplete="off" id="expiresAtTimePicker"
                                    value="{{ quote is defined?quote.expiresAt|date('d/m/Y H:i'):'' }}" name="expires-at" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4 col-lg-offset-5">
                        <div class="">
                            <div class="form-group text">
                                <label for="prazo" style='position: initial;'>Prazo de pagamento</label>
                                {% if userIsRCA %}
                                    <select class='form-control' style='margin-bottom: 3px;' id='prazoRCA' autocomplete="off">
                                        {% for cond in conditions %}
                                            <option {{ (quote is defined and quote.paymentDate == cond)?'selected="true"':'' }}>
                                                {{ cond }}
                                            </option>
                                        {% endfor %}
                                        <option>Outros</option>
                                    </select>
                                {% endif %}
                                <textarea rows="3" class="form-control text-area" type="text" id="prazo" name="payment-date" autocomplete="off" placeholder="Selecionando Outros não é possível realizar pedidos para o RCA virtual"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!-- END FORM-->
    </div>

</div>
