{% extends 'Retailer/base.html.twig' %}

{% block title %}Adicionar Produtos{% endblock %}
{% block menu_products %} active {% endblock %}

{% block page %}

    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Produtos
                                    <small>adicionar produto</small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            {% include '_partial/flashMessages.html.twig' %}
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="{{ path('dashboard') }}">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="{{ path('produtos') }}">Produtos</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Produto</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_0">
                                                    <div class="portlet box green">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa fa-gift"></i>Produto</div>
                                                        </div>
                                                        <div class="portlet-body form">
                                                            <!-- BEGIN FORM-->
                                                            <form action="#" class="form-horizontal" method="POST">
                                                                <div class="form-body">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Nome do Produto</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="name" class="form-control input-circle"
                                                                                   placeholder="Nome do Produto" value="{% if product is defined %}{{ product.name }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Marca do Produto</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="brand" class="form-control input-circle"
                                                                                   placeholder="Marca do Produto" value="{% if product is defined %}{{ product.brand }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Tipo</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="type" class="form-control input-circle"
                                                                                   placeholder="Tipo" value="{% if product is defined %}{{ product.type }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Peso / Quantidade</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="quantity" class="form-control input-circle"
                                                                                   placeholder="Peso / Quantidade" value="{% if product is defined %}{{ product.quantity }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Unidade de Medida</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="unit" class="form-control input-circle"
                                                                                   placeholder="Unidade de Medida" value="{% if product is defined %}{{ product.unit }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group last">
                                                                        <label class="col-md-3 control-label">Descrição Completa</label>
                                                                        <div class="col-md-4">
                                                                            <textarea name="full-description" class="form-control textarea-circle" cols="50" rows="10">{% if product is defined %}{{ product.fullDescription }}{% endif %}</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-actions">
                                                                    <div class="row">
                                                                        <div class="col-md-offset-3 col-md-9">
                                                                            <button type="submit" class="btn btn-circle green">Salvar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <!-- END FORM-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
{% endblock %}