{% extends 'Retailer/base.html.twig' %}

{% block title %}Adicionar Produtos{% endblock %}
{% block menu_products %} active {% endblock %}

{% block page %}

    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Produtos
                                    <small>adicionar produto</small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            {% include '_partial/flashMessages.html.twig' %}
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="{{ path('dashboard') }}">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="{{ path('produtos') }}">Produtos</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Produto</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_0">
                                                    <div class="portlet box green-conecta">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa fa-gift"></i>Produto</div>
                                                        </div>
                                                        <div class="portlet-body form">
                                                            <!-- BEGIN FORM-->
                                                            <form action="#" class="form-horizontal" method="POST">
                                                                <div class="form-body">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Nome do Produto*</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" id="product" list="product-datalist" name="name" class="form-control input-circle" required
                                                                                   placeholder="Nome do Produto" value="{% if product is defined %}{{ product.name }}{% endif %}">
                                                                            <datalist id="product-datalist"></datalist>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Marca do Produto</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="brand" class="form-control input-circle"
                                                                                   placeholder="Marca do Produto" value="{% if product is defined %}{{ product.brand }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Tipo</label>
                                                                        <div class="col-md-4">
                                                                            <select name="type" class="form-control select-circle">
                                                                                {% if product is defined %}
                                                                                    <option value="{{ product.type }}" selected>{{ product.type }}</option>
                                                                                {% else %}
                                                                                    <option value="" disabled selected>Selecione um Tipo</option>
                                                                                {% endif %}
                                                                                {% for i in 0..24 %}
                                                                                    <option value="Tipo {{ i }}">Tipo {{ i }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Unidade de Medida</label>
                                                                        <div class="col-md-4">
                                                                            <select name="unit" class="form-control select-circle">
                                                                                {% if product is defined %}
                                                                                    <option value="{{ product.unit }}" selected>{{ product.unit }}</option>
                                                                                {% else %}
                                                                                    <option value="" disabled selected>Selecione uma Unidade de Medida</option>
                                                                                {% endif %}
                                                                                <option value="CX">CX</option>
                                                                                <option value="UN">UN</option>
                                                                                <option value="g">g</option>
                                                                                <option value="Kg">Kg</option>
                                                                                <option value="Fardo">Fardo</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Peso / Quantidade</label>
                                                                        <div class="col-md-4">
                                                                            <input type="number" name="quantity" class="form-control input-circle"
                                                                                   placeholder="Peso / Quantidade" value="{% if product is defined %}{{ product.quantity }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group last">
                                                                        <label class="col-md-3 control-label">Descrição Completa</label>
                                                                        <div class="col-md-4">
                                                                            <textarea name="full-description" class="form-control textarea-circle" cols="50" rows="10">{% if product is defined %}{{ product.fullDescription }}{% endif %}</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-actions">
                                                                    <div class="row">
                                                                        <div class="col-md-offset-3 col-md-9">
                                                                            <button type="submit" class="btn btn-circle green-conecta">Salvar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <!-- END FORM-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function(){
            var dataList = document.getElementById('product-datalist');

            $.ajax("{{ path('get_produtos') }}", {
                success: function(data) {
                    var jsonOptions = JSON.parse(data);

                    jsonOptions.forEach(function(item) {
                        var option = document.createElement('option');
                        option.value = item.name;
                        dataList.appendChild(option);
                    });
                },
                error: function() {
                    console.log("Um problema ocorreu ao listar os produtos");
                }
            });
        });
    </script>
{% endblock %}