{% extends 'Retailer/base.html.twig' %}

{% block title %}Produtos{% endblock %}
{% block description %}{% endblock %}
{% block menu_products %} active {% endblock %}

{% block page %}
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Produtos
                                <small>tabela de Produtos cadastrados</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="{{ path('dashboard') }}">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Produtos</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Tabela</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-cogs"></i>Produtos </div>
                                        </div>
                                        <div class="portlet-body flip-scroll">
                                            <table class="table table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content">
                                                <tr>
                                                    <th width="20%"> Código </th>
                                                    <th> Nome do Produto </th>
                                                    <th> Tipo </th>
                                                    <th> Fabricante </th>
                                                    <th> Quantidade / Unidade </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for product in products %}
                                                    <tr>
                                                        <td> {{ product.id }} </td>
                                                        <td> {{ product.name }} </td>
                                                        <td> {{ product.type }} </td>
                                                        <td> {{ product.brand }} </td>
                                                        <td> {{ product.quantity }} {{ product.unit }} </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END SAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>

{% endblock %}