<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="pt-br" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Conecta Tri</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="{% block description %}{% endblock %}" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% block page_plugins %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('assets/global/css/components-rounded.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('assets/global/css/styles.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{{ asset('assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('assets/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="{{ asset('assets/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div class="page-header">
                <!-- BEGIN HEADER TOP -->
                <div class="page-header-top">
                    <div class="container">
                        <!-- BEGIN LOGO -->
                        <div class="page-logo">
                            <a href="{{ path('dashboard') }}">
                                <img src="{{ asset('assets/pages/img/logos/bg-conectatri-04.png') }}" alt="logo" class="logo-default"
                                     style="margin-top: 15px; width: 135px;">
                            </a>
                        </div>
                        <!-- END LOGO -->
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="#" class="menu-toggler"></a>
                        <!-- END RESPONSIVE MENU TOGGLER -->
                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img alt="" class="img-circle" src="{{ asset('assets/pages/img/logos/Prancheta.jpg') }}">
                                        <span class="username username-hide-mobile">{{ username }}</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default" role="menu" aria-labbeledby="dLabel">
                                        <li>
                                            <a href="{{ path('profile') }}">
                                                <i class="icon-user"></i> Minhas Informações</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('termsandcondition') }}">
                                                <i class="fa fa-file-text"></i> Termos de Uso</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}">
                                                <i class="icon-key"></i> Sair </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                </div>
                <!-- END HEADER TOP -->
                <!-- BEGIN HEADER MENU -->
                <div class="page-header-menu">
                    <div class="container">
                        <!-- BEGIN MEGA MENU -->
                        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                        <div class="hor-menu  ">
                            <ul class="nav navbar-nav">
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_dashboard %}{% endblock %}">
                                    <a href="{{ path('dashboard') }}"> Painel Inicial
                                    </a>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_pricelist %}{% endblock %} ">
                                    <a href="{{ path('cotacoes') }}"> Cotações
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('cotacoes') }}" class="nav-link">Minhas Cotações</a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('nova_cotacao_remota') }}" class="nav-link "> Criar cotação</a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_list %}{% endblock %}">
                                    <a href="{{ path('listas') }}"> Listas
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('novalista') }}" class="nav-link  "> Criar Lista</a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('listas') }}" class="nav-link  "> Minhas Listas </a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_products %}{% endblock %}">
                                    <a href="{{ path('produtos') }}"> Produtos
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('novoproduto') }}" class="nav-link  "> Criar Produto</a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('produtos') }}" class="nav-link  "> Meus Produtos </a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_suppliers %}{% endblock %}">
                                    <a href="{{ path('fornecedores') }}"> Fornecedores
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('novorepresentante') }}" class="nav-link  "> Adicionar Fornecedor</a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="{{ path('fornecedores') }}" class="nav-link  "> Fornecedores</a>
                                        </li>
                                    </ul>
                                </li>
                                {% if userIsRCA %}
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown {% block menu_martins %}{% endblock %}">
                                        <a href="{{ path('pedidos_martins') }}"> Martins
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-left">
                                            <li aria-haspopup="true">
                                                <a href="{{ path('boletos_martins') }}" class="nav-link"> Meus Boletos Martins</a>
                                            </li>
                                            <li aria-haspopup="true">
                                                <a href="{{ path('pedidos_martins') }}" class="nav-link"> Meus Pedidos Martins</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                    <a href="http://www.tribanco.com.br/"> Tribanco
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" ">
                                            <a href="http://www.tribanco.com.br/" target="_blank" class="nav-link"> Conheça o Tribanco</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- END MEGA MENU -->
                    </div>
                </div>
                <!-- END HEADER MENU -->
            </div>
            <!-- END HEADER -->
        </div>
    </div>
    {% block page %} {% endblock %}
    <!-- END CONTAINER -->
</div>

<div class="page-wrapper-row">
    <div class="page-wrapper-bottom">
        <!-- BEGIN FOOTER -->
        <!-- BEGIN PRE-FOOTER -->
        <div class="page-prefooter" style="height: 145px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2>Sobre Nós</h2>
                        <p>
                            O ConectaTri é a melhor e mais moderna plataforma de cotação do mercado.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2></h2>
                        <p style="margin-top: 28px">
                            Criado pelo Sistema Integrado Martins, o ConectaTri permite o gereciamento de todas as suas cotações e produtos.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2>Contato</h2>
                        <address class="margin-bottom-40">
                            Telefone: (11) 99299-5759
                        </address>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2></h2>
                        <address class="margin-bottom-40" style="margin-top: 28px">
                            E-mail: <a href="mailto:contato@conectatri.com">contato@conectatri.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PRE-FOOTER -->
        {{ include('_partial/footer.html.twig') }}
        <!-- END FOOTER -->
    </div>
</div>


<script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
{% block script %} {% endblock %}
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{ asset('assets/global/scripts/app.min.js') }}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{#<script src="{{ asset('assets/pages/scripts/ecommerce-dashboard.min.js') }}" type="text/javascript"></script>#}
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{ asset('assets/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script>
    $(document).ready(function()
    {
        $('#clickmewow').click(function()
        {
            $('#radio1003').attr('checked', 'checked');
        });
        $('body .dropdown-toggle').dropdown();
    })
</script>
</body>

</html>
