<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro ConectaTri</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <style>
        /* Base styles */
        *, *:after, *:before {
            box-sizing: border-box;
        }
        html {
            font-size: 100%;
            line-height: 1.5;
            height: 100%;
        }

        body {
            position: relative;
            margin: 0;
            font-family: 'Work Sans', Arial, Helvetica, sans-serif;
            min-height: 100%;
            background: #40AE40;
            color: #777;
        }
        img {
            vertical-align: middle;
            max-width: 100%;
        }
        button {
            cursor: pointer;
            border: 0;
            padding: 0;
            background-color: transparent;
        }

        /* Container */
        .container {
            position: absolute;
            width: 90%;
            max-width: 24em;
            left: 50%;
            transform: translate(-50%);
        }

        /* Profile Card */
        .profile {
            position: relative;
        }
        .profile--open {
            margin-top: 50px;
        }
        .profile--open .profile__logo {
            text-align: center;
        }
        .profile--open .profile__logo img {
            width: 220px;
            margin-bottom: 30px;
        }
        .profile--open .profile__form {
            visibility: visible;
            height: auto;
            opacity: 1;
            padding-top: 5em;
            margin: 0 auto;
        }
        .profile--open .profile__fields {
            opacity: 1;
            visibility: visible;
        }
        .profile--open .profile__avatar {
            transform: translate(-50%, -1.5em);
            border-radius: 50%;
        }
        .profile__form {
            position: relative;
            background: white;
            visibility: hidden;
            opacity: 0;
            height: 0;
            padding: 3em;
            border-radius: .25em;
            -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
            transition:
                    opacity .4s ease-in-out,
                    height .4s ease-in-out,
                    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .profile__fields {
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .profile__avatar {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 1.25em;
            overflow: hidden;
            width: 4.5em;
            height: 4.5em;
            display: block;
            transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            will-change: transform;
        }
        .profile__avatar:focus {
            outline: 0;
        }
        .profile__footer {
            padding-top: 1em;
        }


        /* Form */
        .field {
            position: relative;
            margin-bottom: 2em;
        }
        .label {
            position: absolute;
            height: 2rem;
            line-height: 2rem;
            bottom: 0;
            color: #999;
            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .input {
            background-color: transparent;
            border: solid 1px green;
            border-radius: 5px;
            color: #777;
            height: 3rem;
            line-height: 2rem;
            margin-bottom: 0.3rem;
            padding: 5px;
            width: 100%;
        }
        ::-webkit-input-placeholder, ::-moz-placeholder, ::placeholder {
            color: green;
            opacity: 1;
        }

        /* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
        .input:focus + .label,
        input:valid + .label {
            transform: translateY(-100%);
            font-size: 0.75rem;
            color: #ccc;
        }

        /* Button */
        .btn {
            border: 0;
            font-size: 0.75rem;
            height: 2.5rem;
            line-height: 2.5rem;
            padding: 0 1.5rem;
            color: white;
            background: #88D000;
            text-transform: uppercase;
            border-radius: .25rem;
            letter-spacing: .2em;
            transition: background .2s;
            margin-bottom: 10px;
        }
        .btn:focus {
            outline: 0;
        }
        .btn:hover,
        .btn:focus {
            background: #83BC3C;
        }


        /* Intro animation */
        @keyframes intro {
            from {
                opacity: 0;
                top: 0;
            }
            to {
                opacity: 1;
                top: 50%;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <div class="profile">
        <div class="profile__form">
            <div class="profile__logo">
                <img src="{{ asset('assets/pages/img/logos/bg-conectatri-04.png') }}" alt="ConectaTri">
            </div>
            <div class="profile__fields">
                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_row(form.cnpj, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.companyName, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.fantasyName, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.plainPassword.first, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.plainPassword.second, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.email, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.cep, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.address, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.city, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.state, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.phone, {'attr' : {'class' : 'input'}}) }}
                {{ form_row(form.cellphone, {'attr' : {'class' : 'input'}}) }}
                <br>
                <button type="button" class="btn" onclick="window.location.replace('{{ path('login') }}')">Voltar</button>
                <button id='teste' type="submit" class="btn">Cadastrar-se!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/pages/scripts/jquery.mask.min.js') }}" type="text/javascript"></script>
<script>
$(document).ready(function() {
    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    };

    var spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('#retailer_phone').mask(SPMaskBehavior, spOptions);
    $('#retailer_cellphone').mask(SPMaskBehavior, spOptions);
    $('#retailer_cnpj').mask('00.000.000/0000-00');
    $('#retailer_cep').mask('00000-000');
});

function ufToStateId(uf) {
    let ufs = ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO'];

    return ufs.indexOf(uf.toUpperCase()) + 1;
}

$('#retailer_cep').blur(function() {
    let cep = $(this).val().replace(/\D/g, '');

    if(cep == '')
        return;

    let validacep = /^[0-9]{8}$/;
    if(!validacep.test(cep)) {
        alert('CEP inválido!');
        return;
    }

    $("#retailer_address").val("...");
    $("#retailer_city").val("...");

    //Consulta o webservice viacep.com.br/
    $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
        if("erro" in dados) {
            alert("CEP não encontrado.");
            return;
        }

        //Atualiza os campos com os valores da consulta.
        $("#retailer_address").val(dados.logradouro);
        $("#retailer_city").val(dados.localidade);
        $("#retailer_state").val(ufToStateId(dados.uf));
    });
});

/* Simple VanillaJS to toggle class */
[].map.call(document.querySelectorAll('.profile'), function(el) {
    el.classList.toggle('profile--open');
});
</script>
</body>

</html>
