{% extends "Admin/base.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block description %}{% endblock %}
{% block menu_dashboard %} active {% endblock %}

{% block page_plugins %}
    <link href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Painel Inicial
                                    <small>Visão geral da plataforma</small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="{{ path('dashboard') }}">Painel Inicial</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                                        <div class="dashboard-stat blue">
                                            <div class="visual">
                                                <i class="fa fa-briefcase fa-icon-medium"></i>
                                            </div>
                                            <div class="details">
                                                <div class="number"> {{ qtySuppliers }} </div>
                                                <div class="desc"> Fornecedores </div>
                                            </div>
                                            <a class="more" href="{{ path('admin_fornecedores') }}"> Ver Mais
                                                <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="dashboard-stat green-conecta">
                                            <div class="visual">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                            <div class="details">
                                                <div class="number"> {{ qtyQuotes }} </div>
                                                <div class="desc"> Cotações Em Andamento </div>
                                            </div>
                                            <a class="more" href="{{ path('admin_pricelist_inprogress') }}"> Ver Mais
                                                <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="dashboard-stat orange-conecta">
                                            <div class="visual">
                                                <i class="fa fa-group fa-icon-medium"></i>
                                            </div>
                                            <div class="details">
                                                <div class="number"> {{ qtyRetailer }} </div>
                                                <div class="desc"> Clientes Ativos </div>
                                            </div>
                                            <a class="more" href="{{ path('admin_clients') }}"> Ver Mais
                                                <i class="m-icon-swapright m-icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Begin: life time stats -->
                                        <!-- BEGIN PORTLET-->
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="fa fa-shopping-cart font-red"></i>
                                                    <span class="caption-subject font-red bold uppercase">Cotações</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#quotes_tab_1" data-toggle="tab"> Cotações Remotas </a>
                                                    </li>
                                                    <li>
                                                        <a href="#quotes_tab_2" id="statistics_orders_tab" data-toggle="tab">Cotações Presenciais</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="quotes_tab_1">
                                                        <div id="container_1"></div>
                                                    </div>
                                                    <div class="tab-pane" id="quotes_tab_2">
                                                        <div id="container_2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: life time stats -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Begin: life time stats -->
                                        <!-- BEGIN PORTLET-->
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-list font-purple-wisteria"></i>
                                                    <span class="caption-subject font-purple-wisteria bold uppercase">Listas</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#lists_tab_1" id="statistics_orders_tab_2" data-toggle="tab"> Listas Criadas </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="lists_tab_1">
                                                        <div id="container_3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: life time stats -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Begin: life time stats -->
                                        <!-- BEGIN PORTLET-->
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="fa fa-group font-orange-conecta"></i>
                                                    <span class="caption-subject font-orange-conecta bold uppercase">Clientes</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#clients_tab_1" data-toggle="tab"> Clientes Cadastrados </a>
                                                    </li>
                                                    <li>
                                                        <a href="#clients_tab_2" id="statistics_orders_tab_3" data-toggle="tab">Clientes Ativos</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="clients_tab_1">
                                                        <div id="container_4"></div>
                                                    </div>
                                                    <div class="tab-pane" id="clients_tab_2">
                                                        <div id="container_5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: life time stats -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Begin: life time stats -->
                                        <!-- BEGIN PORTLET-->
                                        <div class="portlet light">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="fa fa-briefcase font-blue"></i>
                                                    <span class="caption-subject font-blue bold uppercase">Fornecedores</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#suppliers_tab_1" data-toggle="tab"> Fornecedores Criados </a>
                                                    </li>
                                                    <li>
                                                        <a href="#suppliers_tab_2" id="statistics_orders_tab_4" data-toggle="tab"> Representantes Ativos</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="suppliers_tab_1">
                                                        <div id="container_6"></div>
                                                    </div>
                                                    <div class="tab-pane" id="suppliers_tab_2">
                                                        <div id="container_7"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: life time stats -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Begin: life time stats -->
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-globe font-blue"></i>
                                                    <span class="caption-subject font-blue bold uppercase">Visão Geral</span>
                                                    <span class="caption-helper"> produtos e fornecedores mais cotados</span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="tabbable-line">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#overview_1" data-toggle="tab"> Fornecedores Mais Cotados </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="overview_1">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                    <tr>
                                                                        <th> Fornecedor </th>
                                                                        <th> Representantes </th>
                                                                        <th> Cotações </th>
                                                                        <th> </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for topSupplier in topSuppliers %}
                                                                        <tr>
                                                                            <td>
                                                                                <a href="#"> {{ topSupplier.name }} </a>
                                                                            </td>
                                                                            <td> {{ topSupplier.qtyRepresentatives }} </td>
                                                                            <td> {{ topSupplier.qtyQuotes }} </td>
                                                                            <td>
                                                                                <a href="{{ path('admin_fornecedor', {'id': topSupplier.id}) }}" class="btn btn-sm btn-default">
                                                                                    <i class="fa fa-search"></i> Ver </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: life time stats -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js') }}/" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function(){
            $.ajax("{{ path('admin_dashboard_remotes_quotes_data') }}", {
                success: function(data) {
                    startHighchart1(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            $.ajax("{{ path('admin_dashboard_presential_quotes_data') }}", {
                success: function(data) {
                    startHighchart2(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            $.ajax("{{ path('admin_lists_created_data') }}", {
                success: function(data) {
                    startHighchart3(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            $.ajax("{{ path('admin_clients_line_createdaccountsXtime_data') }}", {
                success: function(data) {
                    startHighchart4(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            $.ajax("{{ path('admin_clients_line_createdpricelistsXtime_data') }}", {
                success: function(data) {
                    startHighchart5(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            $.ajax("{{ path('admin_suppliers_line_createdaccountsXtime_data') }}", {
                success: function(data) {
                    startHighchart6(data);
                    startHighchart7(data);
                },
                error: function() {
                    alert("Um problema ocorreu ao gerar o gráfico");
                }
            });

            function startHighchart1(data){

                var count = [];
                data = $.parseJSON(data);
                $.each(data, function(index, value){
                    var quotes = parseInt(value['quotes']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    count.push([date.getTime(), quotes]);
                });

                Highcharts.chart('container_1', {

                    colors: ['#f89f9f'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },

                    yAxis: {
                        title: {
                            text: 'Cotações Remotas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Cotações Remotas',
                        data: count
                    } ]
                });
            }

            function startHighchart2(data){

                var count = [];
                data = $.parseJSON(data);
                $.each(data, function(index, value){
                    var quotes = parseInt(value['quotes']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    count.push([date.getTime(), quotes]);
                });

                Highcharts.chart('container_2', {

                    colors: ['#bad9f5'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },

                    yAxis: {
                        title: {
                            text: 'Cotações Presenciais'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Cotações Criadas',
                        data: count
                    } ]
                });
            }

            function startHighchart3(data){

                var count = [];
                data = $.parseJSON(data);
                $.each(data, function(index, value){
                    var listings = parseInt(value['listings']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    count.push([date.getTime(), listings]);
                });

                Highcharts.chart('container_3', {

                    colors: ['#bb8fce'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },

                    yAxis: {
                        title: {
                            text: 'Contas Criadas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Listas',
                        data: count
                    } ]
                });
            }

            function startHighchart4(data){

                var count = [];
                data = $.parseJSON(data);
                $.each(data, function(index, value){
                    var clients = parseInt(value['clients']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    count.push([date.getTime(), clients]);
                });

                Highcharts.chart('container_4', {

                    colors: ['#f4a259'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Contas Criadas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Clientes',
                        data: count
                    } ]
                });
            }

            function startHighchart5(data) {

                var count = [];
                var active = [];
                data = $.parseJSON(data);
                console.log(data);
                $.each(data['clients'], function (index, value) {
                    var total = parseInt(value['total']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    count.push([date.getTime(), total]);
                });

                $.each(data['actives'], function (index, value) {
                    var qty = parseInt(value['quantity']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    active.push([date.getTime(), qty]);
                });

                Highcharts.chart('container_5', {

                    colors: ['#f59e18'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Contas Criadas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [
                        {
                            name: 'Clientes Ativos',
                            data: active
                        }]
                });
            }

            function startHighchart6(data) {

                var countSuppliers = [];
                data = $.parseJSON(data);
                $.each(data['suppliers'], function(index, value){
                    var suppliers = parseInt(value['suppliers']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    countSuppliers.push([date.getTime(), suppliers]);
                });

                Highcharts.chart('container_6', {

                    colors: ['#3c91e6'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Contas Criadas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Fornecedores',
                        data: countSuppliers
                    }]
                });
            }

            function startHighchart7(data) {

                var countRepresentatives = [];
                data = $.parseJSON(data);

                $.each(data['representatives'], function(index, value){
                    var representatives = parseInt(value['representatives']);
                    var date = new Date(value['y'], value['m'], value['d'], -3);
                    countRepresentatives.push([date.getTime(), representatives]);
                });

                Highcharts.chart('container_7', {

                    colors: ['#1839e4'],
                    chart: {
                        type: 'area',
                        spacingBottom: 30
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Contas Criadas'
                        }

                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Representantes',
                        data: countRepresentatives
                    }]
                });
            }
        });
    </script>
{% endblock %}

