{% extends 'Retailer/base.html.twig' %}

{% block title %}Novo Pedido Martins{% endblock %}
{% block description %}{% endblock %}
{% block menu_martins %} active {% endblock %}

{% block page %}
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Novo Pedido Martins
                                <small>cadastro de novo Pedido</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        {% include '_partial/flashMessages.html.twig' %}
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="{{ path('dashboard') }}">Painel Inicial</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{{ path('pedidos_martins') }}"></a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Pedidos</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box green-conecta">
                                <div class='portlet-title'>
                                    <div class='caption'>
                                        <i class='fa fa-gift'></i>
                                        Novo Pedido Martins
                                    </div>
                                </div>
                                <div class='portlet-body form'>
                                    <div class='form-body'>
                                        <div class='row'>
                                            <div class='col-xs-6'>
                                                Prazo de Pagamento: {{ prazo }}
                                            </div>
                                            <div class='col-xs-6'>
                                                Previsão de entrega: {{ previsaoEntrega }}
                                            </div>
                                        </div>
                                        <hr/>
                                        <table class='table'>
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Em Estoque</th>
                                                    <th>Quantidade</th>
                                                    <th>Preço</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mercadoria in mercadorias %}
                                                    <tr data-idproduto='{{ mercadoria.idProduto }}'
                                                        data-quantity='{{ mercadoria.quantidade }}'
                                                        data-price='{{ mercadoria.preco }}'>
                                                    <td>{{ mercadoria.nome }}</td>
                                                    <td>{{ mercadoria.estoque?'Sim':'Não' }}</td>
                                                    <td>{{ mercadoria.quantidade }}</td>
                                                    <td>{{ mercadoria.preco }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        Total do Pedido: {{ total }}
                                    </div>
                                    <div class='form-actions'>
                                        <button id='enviar' class="btn btn-circle green-conecta">Enviar Pedido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let token = '{{ token }}';
        
        $('#enviar').click(function() {
            let products = [];

            $('table tbody tr').each(function(index, tr) {
                tr = $(tr);

                let product = {
                    id: tr.data('idproduto'),
                    quantity: tr.data('quantity'),
                    price: tr.data('price'),
                }

                products.push(product);
            });

            $.ajax({
                url: '{{ absolute_url('/api/martins/pedido') }}',
                type: 'POST',
                headers: {
                    "Api-Token": token
                },
                data: JSON.stringify({
                    code: 111,
                    products: products,
                }),
                success: function(res) {
                    location.href = '{{ path('pedidos_martins') }}'
                },
                error: function(jqXHR, status, error) {
                    let message = JSON.parse(jqXHR.responseText);
                    alert(message.message);
                }
            })
        });
    </script>
{% endblock %}
