{% extends 'Retailer/base.html.twig' %}

{% block title %}Cotação{% endblock %}
{% block description %}{% endblock %}
{% block menu_pricelist %} active {% endblock %}

{% block page_plugins %}
    <link href="{{ asset('assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Cotação
                                    <small>Complete os passos abaixo para crriar a sua cotação</small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            {% include '_partial/flashMessages.html.twig' %}
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="{{ path('dashboard') }}">Painel Inical</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="{{ path('cotacoes') }}">Cotações</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Cotação</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable-line boxless tabbable-reversed">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_0">
                                                    <div class="portlet box green-conecta">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa fa-gift"></i>Cotação </div>
                                                        </div>
                                                        <div class="portlet-body form">
                                                            <!-- BEGIN FORM-->
                                                            <form action="#" method="POST" class="form-horizontal">
                                                                <div class="form-body">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Nome da Cotação</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" name="name" class="form-control input-circle" placeholder="Nome da Cotação" value="{{ quote.name }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Validade De</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" id="datetimepicker1" name="begins-at" class="form-control input-circle" placeholder="Validade De" value="{{ quote.beginsAt|date('d/m/Y H:i') }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Validade Até</label>
                                                                        <div class="col-md-4">
                                                                            <input type="text" id="datetimepicker2" name="expires-at" class="form-control input-circle" placeholder="Validade Até" value="{{ quote.expiresAt|date('d/m/Y H:i') }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group last">
                                                                        <label class="col-md-3 control-label">Cotação Finalizada</label>
                                                                        <input type="checkbox" name="closed" {% if quote.closed %}checked{% endif %}>
                                                                    </div>
                                                                </div>
                                                                <div class="form-actions">
                                                                    <div class="row">
                                                                        <div class="col-md-offset-3 col-md-9">
                                                                            <button type="submit" class="btn btn-circle green-conecta">Salvar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <!-- END FORM-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js') }}" type="text/javascript" charset="UTF-8"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
                language: 'pt-BR'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
                language: 'pt-BR'
            });
        });
    </script>
{% endblock %}