<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        * {
            box-sizing: border-box;
            margin:0;
            padding:0;
        }
        body {
            font-size: 8pt;
            color: #555;
            text-transform: uppercase;
        }
        .logo {
            background: #40ae40;
            text-align: center;
            margin: 0 auto;
            display: table;
            padding: 10px;
            border-radius: 0 0 20px 20px;
        }
        .logo img {
            height: 50px;
        }
        #tables {
            padding: 20px;
        }
        table {
            clear: both;
            max-width: none !important;
            border: 1px solid #e7ecf1;
            border-collapse: separate !important;
            width: 100% !important;
            margin: 0 !important;
            border-spacing: 0;
            box-sizing: content-box;
        }
        table th {
            text-align: left;
        }
        table td, table th {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            line-height: 1.42857;
            vertical-align: top;
            border: 1px solid #e7ecf1;
            padding: 8px 10px;
            border-left-width: 0;
            border-bottom-width: 0;
            font-size: 8pt;
        }
    </style>
</head>
<body>
<div class="logo">
    <img alt="ConectaTri" src="http://conectatri.wemind.com.br/assets/pages/img/logos/bg-conectatri-03.png">
</div>
<br>
<div id="tables">
    <table>
        <thead>
        <tr>
            <th colspan="4">DADOS DO CLIENTE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>RAZÃO SOCIAL</td>
            <td>{{ retailer.companyName }}</td>
            <td>CNPJ</td>
            <td>{{ retailer.cnpj }}</td>
        </tr>
        <tr>
            <td>NOME DE USUÁRIO</td>
            <td>{{ retailer.fantasyName }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <thead>
        <tr>
            <th colspan="4">DADOS DO FORNECEDOR</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>NOME</td>
            <td>{{ representative.supplier.name }}</td>
            <td>REPR.:</td>
            <td>{{ representative.name }}</td>
        </tr>
        <tr>
            <td>CNPJ</td>
            <td>{{ representative.supplier.cnpj }}</td>
            <td>EMAIL</td>
            <td>{{ representative.email }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <thead>
        <tr>
            <th colspan="4">DADOS DA COTAÇÃO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>NOME</td>
            <td>{{ quote.name }}</td>
            <td>ID</td>
            <td>{{ quote.id }}</td>
        </tr>
        <tr>
            <td>INÍCIO</td>
            <td>{{ quote.beginsAt|date('d/m/Y - H:i') }}</td>
            <td>ENCERRAMENTO</td>
            <td>{{ quote.expiresAt|date('d/m/Y - H:i') }}</td>
        </tr>
        <tr>
            <td>PAGAMENTO</td>
            <td colspan="3">{{ quote.paymentDate }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <thead>
        <tr>
            <th colspan="6">LISTA DE ITENS</th>
        </tr>
        <tr>
            <td>PRODUTO</td>
            <td>CÓDIGO</td>
            <td colspan="2">EMBALAGEM</td>
            <td>QTD.</td>
            <td>PREÇO UN.</td>
            <td>TOTAL</td>
        </tr>
        </thead>
        <tbody>
        {% for quoteProduct in quoteProducts %}
            {% for quoteSupplier in quoteProduct.winners if quoteSupplier.representative.id == representative.id %}
                <tr>
                    <td>{{ quoteSupplier.quoteProduct.product.name }}</td>
                    <td>{{ quoteSupplier.quoteProduct.product.ean}}</td>
                    <td>{{ quoteSupplier.quoteProduct.product.unit }}</td>
                    <td>{{ quoteSupplier.quoteProduct.product.quantity }}</td>
                    <td>{{ quoteSupplier.quantity }}</td>
                    <td>R$ {{ quoteSupplier.price|number_format(2, ',', '.') }}</td>
                    <td>R$ {{ (quoteSupplier.quantity * quoteSupplier.price)|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
